.dailyreport {
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  background: linear-gradient(
    to bottom right,
    #f5b942,
    #f3d078,
    #f7e3af,
    #e8f5b7,
    #d7f8d6,
    #a6f6f1,
    #79d4f5,
    #70a0f5
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dayreport {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datepicker {
  margin-right: 15px;
  border-radius: 20px;
  border: none;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(169, 252, 255);
  font-weight: 600;
}

.selectday {
  margin-right: 25px;
}

@media screen and (max-width: 420px) {
  .dayreport {
    display: grid;
    grid-template-columns: 1fr;
  }
  .selectday {
    margin: 5px auto;
  }
}
