.dailyreport {
  overflow-x: hidden;
  flex: 1;
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dayreport {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datepicker {
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(169, 252, 255);
  font-weight: 600;
}

.selectday {
  margin-right: 25px;
}

@media screen and (max-width: 420px) {
  .dayreport {
    display: grid;
    grid-template-columns: 1fr;
  }
  .selectday {
    margin: 5px auto;
  }
}
