.report {
  padding-left: 10px;
}

.header {
  background-color: rgb(100, 201, 248);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81vw;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 20px;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
}
.daily,
.monthly,
.yearly {
  color: #000;
}

.header a:link {
  text-decoration: none;
}

.header a:global(.active) span {
  color: darkgoldenrod;
  font-weight: 600;
  font-size: 20px;
}
