.yearly {
  padding: 20px;
  border-radius: 8px;
  margin: 15px;
  background: linear-gradient(
    to right,
    #ffe7e7,
    #fff3e7,
    #f5ffe7,
    #e7fff8,
    #e7f0ff
  );
}

.heading {
  font-size: 22px;
  margin-bottom: 16px;
}

.totalAmount {
  padding: 15px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
}

.recentTransactions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.transactionSection {
  flex: 1;
  gap: 40px;
  background-color: rgb(62, 206, 201);
  padding: 10px;
  border-radius: 5px;
}

.sectionHeading {
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 12px;
}

.transactions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transaction {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.transactionDate,
.transactionAmount,
.transactionCategory {
  display: block;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.transactionAmount {
  font-weight: bold;
}

@media (max-width: 768px) {
  .transactionSection {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .transactionCategory {
    display: block;
    word-wrap: break-word;
  }
}

@media (max-width: 380px) {
  .monthly {
    background: none;
    padding: 0;
  }
}
