.yearlyreport {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(243, 145, 142);
}

.yearreport {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yearpicker {
  border-radius: 20px;
  border: none;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(169, 252, 255);
  width: fit-content;
  font-weight: 600;
}

.year {
  margin-right: 30px;
}

@media screen and (max-width: 420px) {
  .yearreport {
    display: grid;
    grid-template-columns: 1fr;
  }
  .year {
    margin: 5px auto;
  }
}
