.expenselist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(211, 141, 94);
  margin: 25px 10px;

  padding: 10px;
  border-radius: 5px;

  position: relative;
}

.description {
  min-width: 120px;
  width: 30vw;
  word-wrap: break-word;
  overflow: auto;
}

.transaction,
.date {
  padding-right: 15px;
}
.date {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}
.transaction {
  padding: 5px;
}

.wraptext {
  font-weight: 600;
}
.editbtn,
.delbtn {
  cursor: pointer;
  width: 12px;
  margin-bottom: 5px;
}
.editbtn {
  width: 14px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 430px) {
  .expenselist {
    display: grid;
    grid-template-columns: 1fr;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .editbtn {
    position: absolute;
    top: 45%;
    right: 28px;
  }
  .delbtn {
    position: absolute;
    top: 45%;
    right: 10px;
  }
  .date {
    display: inline-block;
    padding-left: 5px;
    align-items: self-start;
  }
}

.category {
  text-transform: capitalize;
}

.amount {
  font-size: 14px;
  font-weight: 600;
  color: rgb(192, 8, 8);
  font-size: clamp(0.7rem, 1.5vw, 1.9rem);
}
.catagory {
  font-weight: 600;
}

.dates {
  font-weight: 600;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noExpenses {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}
