.popup {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 5px;
  border-radius: 5px;
  width: 80%;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.input {
  margin-bottom: 20px;
  overflow: hidden;
}
.title {
  margin-bottom: 20px;
}
.titlefield,
.imagefield {
  margin-top: 5px;

  display: block;
  border: none;
  padding: 10px;
}

.addcategory {
  background-color: #154680;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: antiquewhite;
  z-index: 10;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}
