.addcategory {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 15px;
  background-color: rgb(207, 209, 209);
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  position: relative;
}

.categorylist {
  background: linear-gradient(
    to right,
    #ffe7e7,
    #fff3e7,
    #f5ffe7,
    #e7fff8,
    #e7f0ff
  );
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  padding-left: 5px;
}

.colorIndicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: ;
}

.delbtn {
  cursor: pointer;
  width: 12px;
  margin-left: 5px;
}
