.popup {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 70px 5px;

  border-radius: 5px;
  width: 80%;

  max-width: 350px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.amount,
.selectcategory,
.date {
  margin-bottom: 20px;
}

.inputfield {
  margin-left: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.incomefield {
  border: none;
  padding: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.descriptionfield {
  background-color: #fff;
  height: 50px;
  margin-top: 10px;

  border: none;
  padding-left: 10px;
}

.save {
  background-color: #97ffd3;
  border: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: antiquewhite;
  z-index: 10;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}
