.incomelist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(211, 141, 94);
  margin: 25px 15px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.income,
.date {
  padding-right: 15px;
}

.incamount {
  font-weight: 600;
  color: rgb(14, 141, 2);
  font-size: 12px;
  font-size: clamp(0.7rem, 1.5vw, 1.3rem);
}

.date {
  display: flex;
  flex-direction: column;
}
.dates {
  font-weight: 600;
}
.income {
  padding: 5px;
}

.editbtn,
.delbtn {
  cursor: pointer;
  width: 12px;
  margin-bottom: 5px;
}
.editbtn {
  width: 14px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 430px) {
  .incomelist {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .editbtn {
    position: absolute;
    top: 42%;
    right: 28px;
  }
  .delbtn {
    position: absolute;
    top: 42%;
    right: 10px;
  }
  .date {
    display: inline-block;
    padding-left: 5px;
    margin-top: -5px;
  }
}

.wraptext {
  max-width: 200px;
  min-height: auto;
  font-weight: 600;
}

.description {
  min-width: 120px;
  width: 40vw;
  word-wrap: break-word;
  overflow: auto;
}

.catagory {
  text-transform: capitalize;
  font-weight: 600;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noIncomes {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

/* @media screen and (max-width: 430px) {
  .incomelist {
    display: grid;
    grid-template-columns: 1fr;
  }
  .date {
    padding-left: 5px;
  }
} */

.editbtn {
  cursor: pointer;
}
