.incomelist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(211, 141, 94);
  margin: 25px 15px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.income,
.date {
  padding-right: 15px;
}

.incamount {
  font-weight: 600;
  color: rgb(14, 141, 2);
  font-size: 16px;
}

.date {
  display: flex;
  flex-direction: column;
  position: relative;
}
.income {
  padding: 5px;
}

.deletebtn {
  background-color: rgb(231, 162, 57);
  width: fit-content;
  padding: 2px 9px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.deletebtn:hover {
  background-color: rgb(214, 32, 32);
}

.wraptext {
  max-width: 90%;
  max-height: 50px;
  font-weight: 600;
  overflow: scroll;
}

.catagory {
  text-transform: capitalize;
  font-weight: 600;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
