.hero {
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  background-color: rgb(240, 192, 137);
  width: 100vw;
  padding: 20px;
}

.dash {
  padding-left: 10px;
  padding-top: 33px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signout {
  background-color: #dd2007;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signout:hover {
  background-color: #dd5d4c;
  color: #000;
}

.amounts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  margin: 50px auto;
  padding-left: 10px;
}

.btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-right: 50px;
  margin-left: 30px;
  min-width: 100px;
  width: 100%;
}

.balance,
.income,
.expense {
  padding: 5px;
  border-radius: 10px;
  line-height: 25px;
  text-align: center;
  flex: 1;
}

.balance {
  background-color: #b8f5fe;
}

.income {
  background-color: #99fbd2;
  min-width: fit-content;
}
.expense {
  background-color: #ffb2b2;
  min-width: fit-content;
}

.bal,
.inc,
.exp {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.overview {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

@media screen and (min-width: 500px) {
  .btns {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 350px) {
  .btns {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 750px) {
  .btns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
