.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 525px) {
  .history {
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
  }
}

.recenthistory h3 {
  color: #333;
  font-size: 22px;
  margin-bottom: 15px;
}

.income {
  color: #2ecc71;
}

.expense {
  color: #e74c3c;
}

.category {
  flex: 1;
  height: auto;
  min-width: 50px;
  margin-right: 40px;
  word-wrap: break-word;
}

.amount {
  font-weight: 600;
}
