.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: baseline;
}

/* .container {
  display: flex;
} */

@media screen and (max-width: 430px) {
  .history,
  .recentHistory {
    width: 85%;
  }
}

@media screen and (max-width: 390px) {
  .history,
  .recentHistory {
    width: 75%;
  }
}

@media screen and (max-width: 360px) {
  .history,
  .recentHistory {
    width: 70%;
  }
}

@media screen and (max-width: 350px) {
  .history,
  .recentHistory {
    width: 65%;
  }
}

@media screen and (max-width: 325px) {
  .history,
  .recentHistory {
    width: 60%;
  }
}
@media screen and (max-width: 300px) {
  .history,
  .recentHistory {
    width: 50%;
  }
}

.recenthistory h3 {
  color: #333;
  font-size: 22px;
  margin-bottom: 15px;
}

@media screen and (max-width: 430px) {
  .recentHistory {
    width: 80%;
    margin: 0 auto;
    max-height: 300px;
  }
}

.income {
  color: #2ecc71;
}

.expense {
  color: #e74c3c;
}

.category {
  text-transform: capitalize;
  flex: 1;
}

.transactionList {
  display: flex;
  flex-direction: column;
}

.amount {
  font-weight: 500;
}
