.sidebar {
  background-color: #1e2a31;
  color: #ffffff;
  width: 20vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.headlink {
  text-decoration: none;
  color: #fff;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 35px;
  height: 35px;
}

.title {
  font-size: 20px;
}

.nav {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  gap: 5px;
}

.link:hover,
.link:focus {
  background-color: #33424b;
}

.icon {
  margin-right: 5px;
}

.text {
  font-size: 16px;
}

.nav a:global(.active) span {
  color: darkgoldenrod;
}

@media screen and (max-width: 700px) {
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .title {
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .link .text {
    display: none;
  }
  .icon {
    font-size: 20px;
  }
  .logoContainer {
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .nav {
    margin-top: 10px;
  }
}

.signout {
  margin-top: 20px;
  cursor: pointer;
  align-self: center;
  padding: 6px 14px;
  background-color: rgba(240, 255, 255, 0.781);
  border: none;
  border-radius: 40px;
  margin: 30px 10px;
  position: absolute;
  bottom: 15px;
  color: #000;
}

.signout:hover {
  font-size: 14px;
}

.logoutbtn {
  position: absolute;
  bottom: 45px;
  left: 20px;
  color: #fff;
  align-self: center;
  font-size: 20px;
  cursor: pointer;
}
